.table{
	background-color: #ffa100;
	font-weight: bold;
	font-family: "Arial";
}

.font{
	font-weight: bold;
	font-family: "Arial";
	background-color: #00FF00;
}

 .linksVermelhos{
    color: #FF0000;
}
